//custom variables:
$primary: #c29938;
$light: #f8faeb;

//import the functions & variables
@import "../node_modules/bootstrap/scss/_functions";
@import "../node_modules/bootstrap/scss/_variables";

$custom-theme-colors: (
  "altlight": #f9faeb,
  "altdark": #522192,
);

$theme-colors: map-merge($custom-theme-colors, $theme-colors);

//import bootstrap
@import "../node_modules/bootstrap/scss/bootstrap.scss";
